.edit-page {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.edit-pg-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #111;
}


.edit-form h4 {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 1rem 0 0.4rem;
  color: #333;
}

.edit-title,
.edit-desc{
  width: 95%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.edit-desc {
  min-height: 80px;
}

.edit-title:focus,
.edit-desc:focus,
.edit-date:focus,
.edit-priority:focus {
  border-color: #5b46f7; /* accent color */
  box-shadow: 0 0 0 3px rgba(106, 90, 205, 0.15);
}

.edit-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.edit-date-col,
.edit-prio-col {
  width: 50%;
}

.edit-date,
.edit-priority {
  width: 100%;
  border-radius: 8px;
  padding: 0.8rem 0.5rem;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.edit-date {
  width: 94%;
}

.edit-actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.edit-actions > * {
  display: block;
  width: 50%;
  background: #5b46f7; /* main accent color */
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.2rem;
  transition: background 0.2s ease;
}
.edit-actions > .save-btn:hover,
.edit-actions > .cancel-btn:hover {
  background: #5941c5;
}
